<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Advanced RPG</title>
</head>

<body>
    <div class="container text-center">
        <h1>Bem Vindo Ao Advanced RPG</h1>

        <div class="character">
            <div class="sub-container">
                <hr>
                <h3 class="h1" id="basic-stats">Basic Stats</h3>
                <hr>
                <p>Nome: <span id="name"></span></p>
                <p>Level: <span id="level"></span></p>
                <p>Experience: <span id="experience"></span></p>
                <hr>
            </div>
            <div class="sub-container">
                <h3 class="h1 btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample">Attributes</h3>
                <div class="collapse" id="collapseExample">
                    <hr>
                    <p>hp: <span id="hp"></span></p>
                    <p>str: <span id="str"></span></p>
                    <p>dex: <span id="dex"></span></p>
                    <p>con: <span id="con"></span></p>
                    <p>int: <span id="int"></span></p>
                    <p>wis: <span id="wis"></span></p>
                    <p>cha: <span id="cha"></span></p>
                    <hr>
                </div>
            </div>
            <div class="sub-container">
                <h3 class="h1 btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#collapseExample2"
                aria-expanded="false" aria-controls="collapseExample2">Money</h3>
                <div class="collapse" id="collapseExample2">
                    <hr>
                    <p>copper: <span id="copper"></span></p>
                    <p>silver: <span id="silver"></span></p>
                    <p>gold: <span id="gold"></span></p>
                    <p>platinum: <span id="platinum"></span></p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <button class="btn btn-danger btn-lg">
            <h1>Play Now</h1>
        </button>
    </div>

    <script>
        const URL = 'http://127.0.0.1:7000/character'
        fetch(URL, {
            method: 'get' // opcional
        })
            .then(function (response) {
                response.text()
                    .then(function (result) {
                        result = JSON.parse(result)
                        document.getElementById('name').innerText = result.name
                        document.getElementById('level').innerText = result.level
                        document.getElementById('experience').innerText = result.experience
                        document.getElementById('hp').innerText = result.attributes.hp
                        document.getElementById('str').innerText = result.attributes.strength
                        document.getElementById('dex').innerText = result.attributes.dexterity
                        document.getElementById('con').innerText = result.attributes.constitution
                        document.getElementById('int').innerText = result.attributes.intelligence
                        document.getElementById('wis').innerText = result.attributes.wisdom
                        document.getElementById('cha').innerText = result.attributes.charisma
                        document.getElementById('copper').innerText = result.money.copper
                        document.getElementById('silver').innerText = result.money.silver
                        document.getElementById('gold').innerText = result.money.gold
                        document.getElementById('platinum').innerText = result.money.platinum
                    })
            })
            .catch(function (err) {
                console.error(err)
            })
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>